.wrapper{
	max-width: 1400px;
	margin:0 auto;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
p{
	margin:0;
}
@media(max-width: 1399px){
	.wrapper{
		width: 100%;
		padding: 0 20px;
	}
}
.top_header{
	height: 77px;
	background-color: #10383F;
}
.bot_header{
	height: 87px;
}
*{
	box-sizing: border-box;
}
input:focus {
    outline:none;
}
body,html{
	margin:0;
	padding:0;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}
.mail_info a{
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color:#fff;
}
header .wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        height: 100%;
}
.mail_info, .phone_number{
	position: relative;
}
.mail_info{
	margin-right: 45px;
}
.phone_number{
	margin-right: 20px;
}
.mail_info:before{
	content:'';
	position: absolute;
	background-image: url(/img/paperplane.svg);
	width: 18px;
	height: 18px;
	left:-25px;
	top:3px;
}
.phone_number a{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
}
.header_info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.phone_number:before{
	height: 18px;
	width: 18px;
	content:'';
	position: absolute;
	background-image: url(/img/phone.svg);
	top:3px;
	left:-25px;
}
.time_work{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
}
.site_search input{
	background: #1E494F;
	border-radius: 45px;
	width: 320px;
	color:#fff;
	height: 34px;
	padding-left: 15px;
	border:none;
	outline: none;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
	
}
.site_search{
	position: relative;
}
.site_search input::placeholder{
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
}
.site_search:after{
	content: "";
    position: absolute;
    width: 18px;
    top: 50%;
    height: 18px;
    background-image: url(/img/search.svg);
    transform: translateY(-50%);
    right:15px;
}
.language_change{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.change_lan_ua{
	width: 40px;
	height: 34px;
	border-top-left-radius:45px;
	border-bottom-left-radius: 45px;
	background-color: #1E494F;
	text-align: center;
	line-height: 34px;
	margin-right: 2px;
	color:#fff;

}
.change_lan_ru{
	width: 40px;
	height: 34px;
	border-top-right-radius:45px;
	border-bottom-right-radius: 45px;
	background-color: #1E494F;
	text-align: center;
	line-height: 34px;
	color:#fff;
}
.language_change .active{
	color:#4EEEB5;
}
.change_lan:not(.active){
	cursor: pointer;
}
.menu_wrapper{
	height: 87px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        width: 100%;
}
.menu_item{
	padding: 10px 20px;
	border: 1px solid #C6F0DD;
	border-radius: 80px;
	font-weight: bold;
	font-size: 18px;
	color: #062D35;
	cursor: pointer;	
}
.main_banner{
	width: 100%;
	height: 568px;
	background-image: url(/img/banner.png);
	position: relative;
}
.main_banner a{
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
}
.text_block_banner{
	position: absolute;
	width: 55%;
	height: 130px;
	background: rgba(31, 27, 13, 0.5);
	border-radius: 0px 150px 150px 0px;
	font-weight: bold;
	font-size: 64px;
	color:#fff;
	padding-right: 55px;
	text-align: right;
	line-height: 130px;
	top:50%;
	transform: translateY(-50%);
}
.text_block_banner:before {
    content: "";
    position: absolute;
    background-image: url(/img/left_arrow.svg);
    width: 40px;
    height: 34px;
    border-radius: 71px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    left:30%;
}
.brands_wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.hide_nohover{
	width: 100%;
	height: 100%;
	background: rgba(16, 56, 63, 0.5);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        -webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	display: none;
}
.category_bg:hover .hide_nohover{
	display: flex;
}
.hide_nohover a{
	display: block;
	width: 200px;
	height: 40px;
	color:#fff;	
	background: #20C785;
	border-radius: 71px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	text-decoration: none;
}
.brand{
	width: 184px;
	height: 70px;
	border: 1px solid #C6F0DD;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.brands{
	padding: 40px 0;
}
.category_wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.category{
	width: 32%;
	height: 321px;
	border: 1px solid #C6F0DD;
	margin-bottom: 30px;
}
h1.title{
	font-size: 48px;
	font-weight: 700;
	color: #062D35;
	text-align: center;
	margin:0;
	margin-top: 80px;
	margin-bottom: 60px;
}
.category_bg{
	height: 231px;
	background-repeat:no-repeat;
	background-size:cover;
}
.category.first .category_bg{
	background-image: url(/img/buses.png);
}
.category.second .category_bg{
	background-image: url(/img/combainers.png);
}
.category.third .category_bg{
	background-image: url(/img/tractor.png);
}
.category.fourth .category_bg{
	background-image: url(/img/build_tech.png);
}
.category.fifth .category_bg{
	background-image: url(/img/truck.png);
}
.category.sixth .category_bg{
	background-image: url(/img/spectech.png);
}
.category_title{
	height: 89px;
	padding:0 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.ct_title{
	color: #062D35;
	font-size: 24px;
	font-weight: 700;
}
._ct_count{
	width: 49px;
	height: 30px;
	background: #E5F8F0;
	border-radius: 43px;
	color: #12A968;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	line-height: 30px;
}
.stats_wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.stats_item{
	width: 30%;
	min-width: 320px;
	border-left: 2px solid #20C583;
	max-width: 440px;
	padding: 30px 40px;
}
.stats_title{
	font-weight: 700;
	font-size: 24px;
	color:#062D35;
}
.stats_descr{
	color:#4F5556;
	font-size: 18px;
	font-weight: 400;
}
.contact_us{
	padding: 60px 0;
	background: #10383F;
	margin-top: 100px;
}
.contact_us .wrapper form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	        -webkit-box-align: center;
	            -ms-flex-align: center;
	                align-items: center;
}
.form_title{
	font-size: 36px;
	color:#fff;
	font-weight: 600;
}
.input_name input{
	background: #1E494F;
	border-radius: 2px;
	width: 320px;
	height: 40px;
	color:#fff;
	padding-left: 15px;
	border: none;
	font-size: 14px;
}
.input_name input::placeholder{
	color:#fff;
}
.input_phone input{
	background: #1E494F;
	border-radius: 2px;
	width: 320px;
	height: 40px;
	color:#fff;
	padding-left: 15px;
	border: none;
	font-size: 14px;
}
.input_phone input::placeholder{
	color:#fff;
}
.submit_button button{
	background: #20C785;
	border-radius: 71px;
	width: 320px;
	height: 40px;
	font-size: 18px;
	font-weight: 700;
	color:#fff;
	border: none;
	outline: none;
	cursor: pointer;
}
footer{
	height: 200px;
	background-color: #062D35;
}
.footer_wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 75%;
}
footer .wrapper{
	height: 100%;
}
.footer_wrapper .mail_info{
	margin-right: 59px;
}
.footer_wrapper .phone_number{
	margin-right: 0;
	margin-left: 75px;
}
.footer_copyright{
	font-size: 14px;
	color: #708F94;
	text-align: center;
}
.menu_item{
	position: relative;
}
.menu_item .hide_show{
	position: absolute;
	z-index: 2;
	width: 320px;
	background-color: #fff;
	left: 0;
    top: 50px;
    display: none;
}
.menu_item .hide_show a{
	display: block;
	text-decoration: none;
	color:#062D35;
	font-weight: 700;
	font-size: 16px;
	padding:20px 0;
	padding-left: 30px;
}
.mob_visible_logo{
	display: none;
}
/*Desktop end */
/* Mob and tablet */
@media(max-width: 1024px){
	.category{
		width: 100%;
	}
	.stats_wrapper{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.desktop_header{
		display: none;
	}
	.mob_header{
		width: 100%;
		background: #10383F;
		position: relative;
	}
	.top_line_header{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    height: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		        height: 54px;
	}
	.logo_mobile a img{
		width: 119px;
		height: 26px;
	}
	.top_line_header div{
		display: flex;
		align-items: center;
	}
	.bottom_line_header{
		position: absolute;
		height: 80vh;
		top:54px;
		left:0;
		z-index: 2;
		width: 100vw;
		padding: 0 20px;
		background-color: #fff;
		box-shadow: 0px 4px 12px rgba(6, 45, 53, 0.05);
		display: none;
	}
	.bottom_line_header .number_and_lang{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		        padding: 25px 0;
	}
	.change_lan{
		border: 1px solid #C6F0DD;
		background-color: #fff;
	}
	.change_lan_ua, .change_lan_ru{
		color:#000;
	}
	.change_lan_ua{
		margin-right: 0;
	}
	.phone_number a{
		color:#062D35;
	}
	.phone_number{
		margin-left: 27px;
	}
	.menu_mob{
		width: 100%;
	}
	.menu_mob_item a{
		display: block;
		width: 100%;
		text-decoration: none;
		color: #062D35;
		font-weight: 700;
		font-size: 14px;
		padding: 25px 0;
	}
	.menu_mob_active{
		width: 54px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		height: 54px;
		position: absolute;
		background-color: #062D35;
		left:0;
		z-index: 2;
	}
	.top_line_header .menu_mob_active{
		display: none;
	}
	.text_block_banner{
		font-size: 30px;
		height: 57px;
		width: 70%;
		line-height: 57px;
	}
	.main_banner{
		background-image: url(/img/banner_mob.png);
		height: 300px;
		background-size: cover;
	}
	.text_block_banner:before{
		display: none;
	}
	.brands_wrapper .brand{
		max-width: 130px;
		margin-bottom: 20px;
	}
	.brands_wrapper .brand:nth-child(2n){
		margin-left: 20px;
	}
	.brands{
		background: #F8F8F8;
	}
	h1.title{
		margin-top: 60px;
		font-size: 30px;
	}
	.statistics{
		background: #F8F8F8;
		margin-top: 70px;
		padding-top: 15px;
		padding-bottom: 60px;
	}
	.stats_item{
		width: 100%;
		margin:10px 0;
		background-color: #fff;
	}
	.contact_us{
		margin-top: 0;
	}
	.contact_us .wrapper form{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.input_phone{
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.form_title{
		margin-bottom: 20px;
	}
	.footer_logo{
		display: none;
	}
	.mob_visible_logo{
		display: block;
	}
	.footer_wrapper .mail_info{
		margin-right: 0;
	}
	.footer_wrapper{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.footer_wrapper .phone_number{
		margin-left: 0;
	}
	.footer_wrapper .phone_number a{
		color: #fff;
	}
	.footer_wrapper .mail_info, .footer_wrapper .phone_number{
		width: 100%;
		text-align: center;
		background: #10383F;
		border-radius: 29px;
		width: 280px;
		height: 34px;
		line-height: 34px;
	}
	.footer_wrapper .mail_info{
		margin-bottom: 20px;
		margin-top: 30px;
	}
	.footer_wrapper .mail_info:before{
		left: 30px;
    	top: 7px;
	}
	.footer_wrapper .phone_number:before{
		top:7px;
		left: 45px;
	}
	.footer_wrapper{
		height: auto;
	}
	.footer_copyright{
		margin-top: 30px;
	}
	footer{
		height: auto;
		padding: 60px 0;
	}
}
@media(max-width: 320px){
	.stats_item{
		min-width: unset;
	}
}
@media(min-width: 1024px){
	.mob_header{
		display: none;
	}
}
@media(min-width: 1100px) and (max-width: 1400px){
	.menu_item{
		padding: 10px 13px;
		font-size: 16px;
	}
	.menu_item:last-child .hide_show{
		left:-180px;
	}
	.text_block_banner:before{
		left:100px;
	}
	.input_name input, .input_phone input{
		width: 280px;
	}
}
@media(max-width: 1749px){
	.menu_item:last-child .hide_show{
		left:-180px;
	}
}
@media(max-width: 1024px) and (min-width: 768px){
	.stats_item{
		max-width: 340px;
	}
	.contact_us .wrapper form{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.main_banner {
		height: 610px;
	}
	.brands_wrapper .brand:nth-child(2n){
		margin:0;
	}
	.category{
		max-width: 320px;
		margin:0 22px;
	}
	body .slick-prev, body .slick-next{
		top:112%;
	}
	body .slick-dots{
		bottom: -55px;
	}
}
/* Catalogue styles */

.breadcumbs{
	padding-top: 40px;
}
.breadcumbs .breadcumb{
	font-size: 18px;
	color: #062D35;
}
.breadcumbs .breadcumb span{
	color:#9EA6A7;
}
.breadcumbs .catalogue_item_title{
	font-weight: 700;
	font-size: 36px;
	color: #062D35;
	margin-top: 40px;
}
.sidebar_and_catalogue .sidebar{
	width: 25%;
}
.sidebar .categories_catalogue .category_visible{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	        align-items: center;
	        padding-left: 18px;
}
.categories_catalogue{
	width: 100%;
}
.category_visible .ctv_title{
	font-weight: 700;
	font-size: 16px;
}
.category_visible .ctv_count{
	padding: 3px 10px;
	text-align: center;
	background: #E5F8F0;
	border-radius: 43px;
	font-size: 18px;
	color:#12A968; 
}
.category_visible.active{
	background-color: #f8f8f8;
	border-left:2px solid #4EEEB5;
}
input.checkbox_value[type=checkbox]:checked +  label{
	color: #20C583;
	font-weight: normal;
	font-size: 16px;
}
.checkbox_value{
	opacity:0;
}
.checkbox_value + label{
	font-weight: 400;
	font-size: 16px;
	color: #062D35;
	cursor: pointer;
}
.category_value{
	height: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.category_change{
	padding-top: 30px;
	border: 1px solid #F8F8F8;
}
